/* CSS Document */
body{margin:0px;}
a{
	font:16px "arial";
	color:#404040;
	text-decoration: underline;
}
a:hover{color:#669900;text-decoration: underline;}
.td-top{
	height:35px;
	padding-left:20px;
	padding-top:10px;
	background-image: url(power-img/td-top.gif);
	background-repeat: no-repeat;
}
.td-mid{
	background-image: url(power-img/td-mid.gif);
	background-repeat: repeat-y;
	padding:20px;
}
.img-main{
	background-image: url(power-img/td-mid.gif);
	background-repeat: repeat-y;
	text-align: center;
}
.border{
	border: 1px solid #CCCCCC;
}
.txt-contect{
	color:#404040;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 16px;
	line-height: 30px;
}
